//fonts 
$heading-font: "Nothing You Could Do", cursive;
$body-font: "Raleway", sans-serif;

//colours
$white: #ECF0F1; // rgb(236,240,241)
$black: #2B2118; // rgb(43,33,24)
$red: #6F1A07; //rgb(111,26,7)
$off-white: #F7F3E3; //rgb(247,243,227)
$gold: #A8763E; //rgb(168,118,62);
