.button:link,
.button:visited,
input[type=submit] {
  font-size: .8rem;
  display: inline-block;
  padding: .75rem 1rem;
  text-decoration: none;
  border-radius: 10rem;
  transition: all 0.2s, border 0.2s, color 0.2s;
  border: 1px solid $gold;
  background-color: $gold;
  color: $white;
}

.button:hover,
.button:active,
input[type=submit]:hover,
input[type=submit]:active {
  background-color: rgba(0, 0, 0, .2);
  border: 1px solid $white;
}

