.restaurant {
    width: 30%;
    box-shadow: 0 1.5rem 3rem rgba(0,0,0,.2);
    background: #ffffff;
    display: flex;
    flex-direction: column;
    margin-top: $big-margin;

    &:last-child {
        margin-bottom: $big-margin;
    }
    
    &__image-container {
        height: 60%;
        max-height: 200px;
        overflow: hidden;
    }

    &__image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all .2s ease-in-out;

        &:hover, &:focus {
            transform: scale(1.2);
        }
    }

    &__text-container {
        padding: 5% 10%;
        position: relative;
    }

    &__title {
        margin-bottom: 0;
    }

    &__address {
        margin-top: 0;
    }

    &__rating {
        margin: 0;
        font-size: 0.6rem;
        float: left;
        width: 60%;
    }

    &__rating-image {
        width: 50%;
        margin-right: 30%;
        display: block;
    }

    &__price {
        float: right;
        width: 20%;
        margin: -12px 0 0 0;
    }
    
    &__dollar {
        color: rgba(43,33,24,.3);
        letter-spacing: -4px;

        &--selected{
            color: $black;
        }
    }

    &__distance {
        clear: both;
        width: 60%;
        height: 10px;
        background: linear-gradient(to right, $gold 0%, transparent 0%), $white;
        margin: 2rem 0 0 0;
    }

    &__distance-text {
        margin: 0;
        font-size: 0.6rem;
    }

    &__yelp {
        display: block;
        width: 80px;
        position: absolute;
        bottom: 5%;
        right: 5%;
    }
}


