.header {
  background-image: linear-gradient(
  rgba(0, 0, 0, 0.60),
  rgba(0, 0, 0, 0.60)),
  url(../assets/hero_img.JPG);
  background-size: cover;
  background-position: center;
  height: 93vh;

  &__title, &__subtitle { margin: 0; }

  &__title {
    font-family: $heading-font;
    font-size: 4rem;
    color: $white;
    margin: 0;
    line-height: 1.2;

    @include media(800px) { font-size: 3.5rem; }

    @include media(600px) { font-size: 3rem; }

    @include media(500px) { font-size: 2.5rem; }

    @include media(400px) { font-size: 2rem; }

    &-span {
      @include media(1150px) { display: block; }
    }
  }

  &__subtitle {
    color: $white;
    letter-spacing: .1rem;
    font-size: 1.5rem;

    @include media(800px) { font-size: 1.3rem; }

    @include media(600px) { font-size: 1.1rem; }

    @include media(500px) { font-size: 1rem; }

    @include media(400px) { font-size: .9rem; }
  }
}

.header > .wrapper {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  max-width: 1600px;
  width: 80%;
  margin: 0 auto;
}

.form {
  width: 100%;
  margin: 0 auto;
  padding: .5rem;
  display: grid;
  grid-template-rows: repeat(2, max-content);
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: .25rem;
  align-items: center;

  @include media(1200px) {
    grid-template-rows: repeat(3, max-content);
    grid-template-columns: repeat(3, 1fr);
  }

  @include media(1000px) {
    grid-template-rows: repeat(4, max-content);
    grid-template-columns: repeat(2, 1fr);
  }

  @include media(650px) {
    grid-template-rows: repeat(7, max-content);
    grid-template-columns: repeat(1, 1fr);
  }

  &__select {
    font-family: $body-font;
    padding: .5rem 1rem;
  }

  &__checkbox { background-color: #fff; }

  &__icon {
    padding-right: .75rem;
    color: $gold;
  }

  &__button {
    width: 60%;
    max-width: 10rem;
    grid-row: 1 / 3;
    grid-column: 4 / 5;
    justify-self: center;

    @include media(1200px) {
      grid-row: 3 / -1;
      grid-column: 1 / -1;
      margin-top: 1rem;
    }

    @include media(1000px) { grid-row: 4 / -1; }

    @include media(650px) { grid-row: 7 / -1; }
  }
}