.header {
  background-image: linear-gradient(
  rgba(0, 0, 0, 0.50),
  rgba(0, 0, 0, 0.50)),
  url(../assets/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 90vh;

  &__title {
    font-family: $heading-font;
    font-size: 4rem;
    color: $off-white;
    margin: 0;
  }
}

.header > .wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  max-width: 1600px;
  width: 80%;
  margin: 0 auto;
}

.form {
  width: 100%;
  margin: 0 auto;
  padding: .5rem;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: .25rem;
  align-items: center;

  &__select {
    font-family: $body-font;
    padding: .5rem 1rem;
  }

  &__checkbox {
    background-color: #fff;
  }

  &__icon {
    padding-right: .75rem;
    color: $gold;
  }
}